

@input-color:#95B8E7;
@input-width:200px;
body
{
	font-size: 9pt;
	font-family:ו;
    margin: 0;
    padding: 0;
}

iframe{
	
	width:100%;
	height:100%;
}

input{
    border-style:solid;
    border-width:1px;
    border-color:@input-color;
	width: @input-width;
}

input:HOVER {
	background-color: #95B8E7;
}

 